{% extends "dashboard/base.html" %}
{% block title %}Company{% endblock %}

{% block content %}
<h2>Company</h2>
<a href="{% url 'company_add' %}" class="btn btn-success mb-3">+ Tambah Company</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Company</th>
            <th>email</th>
            <th>phone</th>
        </tr>
    </thead>
    <tbody>
        {% for company_group in company_groups %}
        <tr>
            <td>{{ company_group.username }}</td>
            <td>{{ company_group.email }}</td>
            <td>{{ company_group.phone}}</td>
            <td>
                <a href="{% url 'company_edit' company_group.id %}" class="btn btn-sm btn-warning">Edit</a>
                <a href="{% url 'company_delete' company_group.id %}" class="btn btn-sm btn-danger" onclick="return confirm('Yakin ingin menghapus?')">Hapus</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3" class="text-center">Belum ada admin</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}